/* CSS files add styling rules to your content */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

body {
  background-color: white;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-color: white;
  margin-top: 10px;
  display: inline-block;
  margin-left: 80px;
  margin-right: 120px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

h2 {
  font-color: white;
  margin-top: 10px;
  display: inline-block;
  margin-left: 80px;
  margin-right: 120px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.parallax {
  /* The image used */
  background-image: url("https://www.dreieck-design.com/media/1349/glas-lautspecher-qeos-audio-a_qeos_klar_reinweiss.jpg");

  /* Set a specific height */
  min-height: 1100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

<!-- Container element -- > <div class="parallax" > </div > strong {
  color: #303030;
}

marginleft {
  margin-left: 5%;
}

#margin {
  margin-top: 42px;
  font-weight: 130;
}
#random {
  position: absolute;
  right: 20px;
  width: 100px;
}

/* QEOS Link */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}

/* Style the header */
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
